<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <section class="about-main">
        <h2 class="center">About US</h2>
        <div class="box">
            <div>
                <h2 class="about-heading">Cars Information</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae omnis minima iure eligendi vitae in provident fuga iusto repellat ipsa modi, velit minus vero odio laudantium sint assumenda eveniet enim. Atque in nihil sequi neque voluptates. Blanditiis vero mollitia cumque.</p>
            </div>
            <div>
                <figure>
                    <img src="./pic/bg.jpg" alt="Main Pic">
                </figure>
            </div>
        </div>
      

    </section>
        {{>footer}}
</body>
</html>