<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style/css">
</head>
<body>
    {{>navbar}}
    <section class="home-main">
        <h1 >Car Collections and Engines</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam aut tempora assumenda nihil doloremque quibusdam, tenetur officiis ducimus fugiat architecto reprehenderit esse aliquid illum voluptates amet ab perspiciatis cum dolore, incidunt praesentium quo accusantium dolor suscipit? Omnis nulla sed itaque temporibus beatae necessitatibus distinctio, quaerat exercitationem quod nesciunt qui! Repellat iste voluptates veritatis sapiente, praesentium nisi commodi dicta eaque ipsam!</p>
    </section>
    {{>footer}}
</body>
</html>