<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26988.403614762046!2d72.88100961074599!3d32.270175629175746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3921a2eca4fe3e1d%3A0x7ccae2b05297ae4d!2sBhalwal%2C%20Sargodha%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1620069356728!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>